.sidebar {
    background-color: #333;
    color: #fff;
    width: 250px;
    padding: 20px;
    height: 100vh;
    position: fixed;
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 22px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 20px 0;
}

.sidebar ul li a {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 18px;
    transition: background-color 0.3s;
    border-radius: 4px;
}

.sidebar ul li a svg {
    margin-right: 10px; /* Space between icon and text */
}

.sidebar ul li a:hover {
    background-color: #575757;
}