@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
h1{
  text-align: center;
  font-family: monospace;
  font-size: 35px;
  }
body{
  background-color: white;
}

form{
  box-shadow: -30px 30px 0px rgba(0,0,0,3);
  border: 2px solid;
  position: relative;
  left: 35%;
  top: 100px;
  width: 25%;
  height: 600px;
}

input{  
  margin: 15px 145px;
  padding: 15px;
}

button{
  padding: 15px;
  position: relative;
  left: 40%;
  top: 20px;
  border-radius: 25px;
}